@import "tailwindcss";
@plugin "daisyui";

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", Meiryo, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: "Noto Sans Mono CJK JP", Osaka-mono, "MS Gothic", Menlo, Consolas, Courier, "Courier New"                                                                      , monospace , "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* `@layer base` 内に入れると daisyUI の設定に負けるので入れないでおく */
html {
  @apply h-full break-all cursor-default scrollbar-gutter-stable;
  
  text-decoration-skip-ink: none;
}

body {
  @apply h-full;
}

h1 {
  @apply mb-6 text-2xl font-bold;
}
