@import "tailwindcss";

/**
 * スタイルガイド
 * 
 * - マージンは原則下方向にのみ付与する
 */

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", Meiryo, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: "Noto Sans Mono CJK JP", Osaka-mono, "MS Gothic", Menlo, Consolas, Courier, "Courier New"                                                                      , monospace , "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer base {
  /* ページ全体 */
  
  html {
    @apply h-full break-all cursor-default scrollbar-gutter-stable;
    
    text-decoration-skip-ink: none;
  }
  
  body {
    @apply h-full;
  }
  
  /* フォーム */
  
  input[type="text"], input[type="password"], textarea, button {
    @apply border-[2px] border-dashed border-sky-500 py-1 px-2 text-sky-500 font-mono;
    
    &:not(:disabled)::placeholder {
      color: color-mix(in srgb, var(--color-sky-400) 50%, transparent);
    }
    
    &:disabled {
      @apply border-slate-500 text-slate-400 cursor-not-allowed;
      
      background: color-mix(in srgb, var(--color-slate-100) 50%, transparent);
      
      &::placeholder {
        color: color-mix(in srgb, var(--color-slate-400) 50%, transparent);
      }
    }
  }
  
  input[type="text"], input[type="password"], textarea {
    @apply block w-full bg-white;
  }
  
  input[type="radio"], input[type="checkbox"] {
    @apply cursor-pointer;
  }
  
  textarea {
    @apply min-h-20;
  }
  
  button {
    @apply cursor-pointer;
    
    background: color-mix(in srgb, var(--color-sky-100) 50%, transparent);
    
    &:hover:not(:disabled) {
      background: color-mix(in srgb, var(--color-sky-200) 35%, transparent);
    }
    &:focus:not(:disabled) {
      background: color-mix(in srgb, var(--color-sky-200) 60%, transparent);
    }
  }
  
  fieldset {  /* TODO : 要らないかも */
    @apply border border-slate-500 pt-2 px-4 pb-4 space-y-4 bg-white;
    
    & > legend {
      @apply mb-0 pl-1 pr-2 font-bold;
    }
  }
  
  label {
    @apply block;
  }
  
  :is(form, fieldset) > label {
    @apply space-y-1;
  }
  
  /* メイン部分 */
  
  main {
    @apply pt-12 px-4 pb-16;
  }
  
  h1 {
    @apply mb-8 font-bold text-2xl text-center;
  }
  
  /* テーブル */
  
  table {
    @apply w-full border border-slate-500;
    
    & :is(th, td) {
      @apply border border-slate-500 py-1 px-2;
    }
    
    thead :is(th, td), tbody th {
      @apply text-center whitespace-nowrap bg-slate-100;
    }
    
    thead :is(th, td) {
      @apply align-middle;
    }
    
    tbody :is(th, td) {
      @apply align-top;
    }
    
    tbody td {
      @apply bg-white;
    }
  }
}

@layer components {
  /* 本クラスの要素 (div など) 内に配置したフォーム部品は赤色で表示する */
  .form-danger {
    & :is(input[type="text"], input[type="password"], textarea, button) {
      @apply border-rose-500 text-rose-600;
      
      &:not(:disabled)::placeholder {
        color: color-mix(in srgb, var(--color-rose-400) 50%, transparent);
      }
    }
    
    & button {
      background: color-mix(in srgb, var(--color-rose-100) 50%, transparent);
      
      &:hover:not(:disabled) {
        background: color-mix(in srgb, var(--color-rose-200) 35%, transparent);
      }
      &:focus:not(:disabled) {
        background: color-mix(in srgb, var(--color-rose-200) 60%, transparent);
      }
    }
  }
  
  /* Text : 文字色変更のみ */
  .text-muted { @apply text-slate-500; }
  
  /* Alert : 軽く余白を付けた背景色付きのボックス */
  :is(.alert-danger, .alert-warning, .alert-success, .alert-danger) { @apply p-4; }
  .alert-danger  { @apply text-red-600     bg-red-50    ; }
  .alert-warning { @apply text-amber-600   bg-amber-50  ; }
  .alert-success { @apply text-emerald-600 bg-emerald-50; }
  .alert-info    { @apply text-indigo-600  bg-indigo-50 ; }
  
  /* Label : 太字で文字色変更のみ */
  :is(.label-danger, .label-warning, .label-success, .label-info) { @apply font-bold; }
  .label-danger  { @apply text-red-600    ; }
  .label-warning { @apply text-amber-600  ; }
  .label-success { @apply text-emerald-600; }
  .label-info    { @apply text-indigo-600 ; }
}
